<div class="row row-center row-center-v h-full has-nav-side-lg">
    <div class="w-800 p-l-20-20">
        <h2>Betalingsinformasjon</h2>

        <!-- Form for paymemt information -->
        <form class="fs-16" action="">

            <!-- Name of card holder-->
            <div class="row">
                <div class="c-l-6 p-l-20-20 p-right">
                    <input type="text" class="input input-bottom-dark m-l-20-0" placeholder="Fornavn">
                </div>
                <div class="c-l-6 p-l-20-20 p-left">
                    <input type="text" class="input input-bottom-dark m-l-20-0" placeholder="Etternavn">
                </div>
            </div>

            <!-- Card number -->
            <div class="row">
                <div class="c-l-12">
                    <input type="text" class="input input-bottom-dark m-l-20-0" placeholder="Kortnummer">
                </div>
            </div>

            <!-- Other information -->
            <div class="row">
                <div class="c-l-4 p-l-20-20 p-right">
                    <input type="text" class="input input-bottom-dark m-l-20-0" placeholder="CVC">
                </div>
                <div class="c-l-4 p-l-20-20">
                    <input type="text" class="input input-bottom-dark m-l-20-0" placeholder="MM">
                </div>
                <div class="c-l-4 p-l-20-20 p-left">
                    <input type="text" class="input input-bottom-dark m-l-20-0" placeholder="YY">
                </div>
            </div>

            <!-- Submit button for the form -->
            <div class="t-right">
                <button type="submit" class="btn-lg btn-green">Oppdater</button>
            </div>
        </form>
    </div>
</div>
