<div class="row row-center row-center-v h-full has-nav-side-lg bg-stable-light">
    <div class="w-600 m-l-20-20 bg-light">
        <div class="row p-l-20-20 bg-green">
            <div class="c-l-12 t-center">
                <h2>9</h2>
                <p class="big">timer</p>
            </div>
        </div>
        <div class="row p-l-20-20">
            <ul class="list list-light">
                <li class="border-l-5 border-accept">
                    <div class="fs-14 t-600">Header</div>
                    <div>Sub text</div>
                </li>
                <li class="border-l-5 border-decline">Dette er den første</li>
                <li class="border-l-5 border-blue">Dette er den første</li>
                <li class="border-l-5 border-orange">Dette er den første</li>
            </ul>
        </div>
    </div>

    <div class="w-600 m-l-20-20 bg-light">
        <div class="row p-l-20-20 bg-pink">
            <div class="c-l-12 t-center">
                <h2>9</h2>
                <p class="big">timer</p>
            </div>
        </div>
        <div class="row p-l-20-20">
            <ul class="list list-light">
                <li class="border-l-5 border-accept">
                    <div class="fs-14 t-600">Header</div>
                    <div>Sub text</div>
                </li>
                <li class="border-l-5 border-decline">Dette er den første</li>
                <li class="border-l-5 border-blue">Dette er den første</li>
                <li class="border-l-5 border-orange">Dette er den første</li>
            </ul>
        </div>
    </div>
</div>
