<div class="profile-section">
  <div *ngIf="!user" class="row row-center-v">
    <button (click)="navigate(['front', 'login'])" class=" btn-md btn-border-light rounded-3 fs-12 t-upper m-l-10-5">Logg inn</button>
    <button (click)="navigate(['front', 'register'])" class=" btn-md btn-border-light rounded-3 fs-12 t-upper m-l-10-5">Registrer bruker</button>
  </div>
  <div *ngIf="user" class="row row-center-v">
    <button (click)="navigate(['front', 'myjobs'])" class=" btn-md btn-border-light rounded-3 fs-12 t-upper">Mine jobber</button>
    <button (click)="navigate(['front', 'appointments'])" class=" btn-md btn-border-light rounded-3 fs-12 t-upper m-l-0-10">
      <span class="fa fa-calendar fs-12"></span>
    </button>
    <div (click)="navigate(['profile'])" class="profile-picture m-l-0-10 m-right"
         [ngStyle]="{'background-image': 'url(' + baseUrl + user.profile_picture + ')'}"></div>
  </div>
</div>
<nav class="nav-md nav-fixed nav-center nav-center-v nav-blue center-shadow">
  <div class="nav-logo"><img (click)="navigate(['front', ''])" src="/img/logo/tidbanken_logo.png"
                             alt=""></div>
  <button (click)="strictNavigate(['front', 'post'])" class="btn-md btn-border-light rounded-3 fs-12 m-l-0-10">Legg ut jobb</button>
  <button (click)="navigate(['front', 'jobs'])" class="btn-md btn-border-light rounded-3 fs-12 m-l-0-10">Finn en jobb</button>
</nav>
<div class="has-nav-md"></div>
<router-outlet></router-outlet>


<!-- SMOOTH ALERT -->
<smooth-alert [collapse]="show.alert"
              [options]="alertOptions"
              (onButtonClick)="navigate(['profile'])">
</smooth-alert>
