
// Imports
// --------------------
@import "../../../lib/mimas/variables";

// Local variables
// --------------------
$header-height: 60px;
$content-height: 280px;

.job-header-info {
  position: absolute;
  bottom: -$content-height;
  right: 12%;
  z-index: 1337;

  width: 400px;

  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);

  .header {
    width: 100%;
    height: $header-height;
    background: $primary;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .content {
    width: 100%;
    height: $content-height;
    background: $light;
  }
}
