<div class="row view-height">
  <div class="c-m-4 bg-light border-r-1 border-stable center-shadow">
    <div class="row view-height">
      <div class="p-l-20-20">
        <div class="row p-l-10-10 bg-blue">Den kommende uken</div>
      </div>
      <datepicker class="color-dark appointments-calendar w-100-p" [date]="soknadsfrist"
                  (valueChange)="addDate($event)" [height]="350"></datepicker>
    </div>
  </div>
  <div class="c-l-8 view-height">
      <appointment-list *ngIf="filteredAppointments" [appointments]="filteredAppointments"></appointment-list>
  </div>
</div>
