<div class="row view-height">
  <div class="w-500 view-height bg-light center-shadow border-r-1 border-stable overflow-scroll">
    <div class="row row-center-v row-center h-100 border-b-1 border-stable">
      <h4>Mine jobber</h4>
    </div>
    <div *ngFor="let job of jobs" (click)="setSelectedJob(job)"
         class="row row-center-v p-l-10-15 border-b-1 border-stable hover-stable-light" [ngClass]="{'bg-stable':checkSelected(job)}">
      <div class="picture picture-md" [ngStyle]="{'background-image':'url(' + baseUrl + job.picture + ')'}"></div>
      <div class="p-l-0-15">
        <h5>{{job.title}}</h5>
        <span class="fs-11">Lagt ut for {{timeSince(job.created_at)}} siden</span>
      </div>
    </div>
  </div>
  <appointment-list class="fill-rest" [appointments]="appointments"></appointment-list>
</div>
