<div class="row">
    <div class="c-l-6 bg-primary">
        <div class="row row-center-v row-center h-full p-l-40-60">
            <form [ngFormModel]="registerForm" (submit)="register()" class="fs-20 w-600">
                <h4>Registrer deg</h4>

                <!-- First name -->
                <input [(ngModel)]="newUser.first_name" type="text" class="input input-bottom-primary m-l-20-0"
                       placeholder="Fornavn" #first_name="ngForm">

                <!-- Last name -->
                <input [(ngModel)]="newUser.last_name" type="text" class="input input-bottom-primary m-l-20-0"
                       placeholder="Etternavn" #last_name="ngForm">

                <!-- Telephone number -->
                <input [(ngModel)]="newUser.phone" type="phone" class="input input-bottom-primary m-l-20-0"
                       placeholder="Telefon" #phone="ngForm">

                <!-- Password -->
                <div class="row">
                    <div class="c-m-6 p-l-0-20 p-s-0-0 p-right">

                        <!-- Password first time -->
                        <input [(ngModel)]="newUser.password" type="password"
                               class="input input-bottom-primary m-l-20-0" placeholder="Passord" #password="ngForm">
                    </div>
                    <div class="c-m-6 p-l-0-20 p-s-0-0 p-left">

                        <!-- Password second time -->
                        <input [(ngModel)]="newUser.passwordCheck" type="password"
                               class="input input-bottom-primary m-l-20-0" placeholder="Gjenta passord"
                               #passwordCheck="ngForm">
                    </div>
                </div>
                <div class="t-right m-l-20-0">

                    <!-- Submit button -->
                    <button class="btn-lg btn-border-light btn-round">Registrer bruker</button>
                </div>
            </form>
        </div>
    </div>
    <div class="c-l-6 bg-image cover-9 cover-light"
         [ngStyle]="{'background-image':'url(http://memorymontage.homestead.com/files/MMgraphics/shape-collage-1.jpg)'}">
        <div class="row row-center row-center-v cover-content h-full p-l-20-20">
            <div class="w-600">
                <h2 class="color-blue">
                    20 000 nordmenn er allerede med. <span class="color-primary">Bli en tidsparer i dag!</span>
                </h2>
            </div>
        </div>
    </div>
</div>

<!-- SMOOTH ALERT -->
<smooth-alert [collapse]="show.alert"
              [alertType]="alertType"
              [alertText]="alertText"
              (onButtonClick)="toggle($event)">
</smooth-alert>
