<div class="row row-center row-center-v h-700 cover-8 cover-light bg-image p-l-20-20" [ngStyle]="{'background-image':'url(https://i.kinja-img.com/gawker-media/image/upload/s--wW1l0e9I--/187yers6cvym9jpg.jpg)'}">
    <div class="cover-content t-center">
        <h1>Gi tid i dag - få tid i <span class="color-primary">morgen</span></h1>
        <div class="row row-center p-l-40-20 fs-16">
            <button (click)="strictNavigate(['front', 'post'])" class="btn-lg btn-primary btn-round m-l-10-15 t-600">Finn hjelp</button>
            <button (click)="navigate(['front', 'jobs'])" class="btn-lg btn-blue btn-round m-l-10-15 t-600">Tilby hjelp</button>
        </div>
    </div>
</div>
<div class="row p-l-100-100 p-s-20-20 border-t-1 border-stable fs-14">
    <div class="c-m-6">
        <h3>Tidbanken</h3>
        <p class="big">
            Tidbanken er et unikt konsept som lar deg dele din tid med andre, og få igjen for det på sikt. <strong>Bli med i dag!</strong>
        </p>
    </div>
</div>
<div class="row p-l-20-100">
  <h4 class="t-upper t-400">Siste oppdateringer</h4>
</div>
<div class="row bg-stable-light border-t-1 h-400 border-stable p-l-20-60">

</div>

<!-- Edit job -->
<div *ngIf="show.alert" (click)="toggle('alert')"
     class="dialog-cover row row-center row-center-v cover-6 cover-black p-l-20-20">
  <div (click)="$event.stopPropagation()" class="popup-dialog w-800 bg-light p-l-40-40 rounded-5 overflow-scroll">
    <div class="row p-l-20-20 border-b-1 border-stable">
      <div class="c-l-12">
        <h3>Kom i gang!</h3>
        <p class="fs-14">Før du kan finne hjelp må du registrere en bruker eller logge inn med en eksisterende bruker. Dette gjør du ved å velge under.</p>
      </div>
    </div>
    <div class="row row-center t-center fs-14 p-l-20-0">
      <button (click)="navigate(['front', 'login'])" class="btn-lg btn-primary rounded-3 w-400">Logg inn</button>
      <p class="w-100-p p-l-10-0 fs-14 t-300 color-stable-dark">eller</p>
      <button (click)="navigate(['front', 'register'])" class="btn-lg btn-blue rounded-3 w-400">Registrer deg</button>
    </div>
  </div>
</div>

<!-- SMOOTH ALERT -->
<smooth-alert [collapse]="show.smoothAlert"
              [options]="alertOptions"
              (onButtonClick)="navigate(['profile'])">
</smooth-alert>
