/*----------------------------------------

  KORDE - VARIABLES

-----------------------------------------*/
@font-face {
  font-family: 'GTWalsheim';
  font-weight: 800;
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Black.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/GT_Walsheim/GT-Walsheim-Black.woff") format("woff"), url("../../fonts/GT_Walsheim/GT-Walsheim-Black.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'GTWalsheim';
  font-weight: 600;
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/GT_Walsheim/GT-Walsheim-Bold.woff") format("woff"), url("../../fonts/GT_Walsheim/GT-Walsheim-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'GTWalsheim';
  font-weight: bold;
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/GT_Walsheim/GT-Walsheim-Bold.woff") format("woff"), url("../../fonts/GT_Walsheim/GT-Walsheim-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'GTWalsheim';
  font-weight: 400;
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/GT_Walsheim/GT-Walsheim-Regular.woff") format("woff"), url("../../fonts/GT_Walsheim/GT-Walsheim-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'GTWalsheim';
  font-weight: normal;
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/GT_Walsheim/GT-Walsheim-Regular.woff") format("woff"), url("../../fonts/GT_Walsheim/GT-Walsheim-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'GTWalsheim';
  font-weight: 300;
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/GT_Walsheim/GT-Walsheim-Light.woff") format("woff"), url("../../fonts/GT_Walsheim/GT-Walsheim-Light.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'GTWalsheim';
  font-weight: 100;
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Ultra-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/GT_Walsheim/GT-Walsheim-Ultra-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/GT_Walsheim/GT-Walsheim-Ultra-Light.woff") format("woff"), url("../../fonts/GT_Walsheim/GT-Walsheim-Ultra-Light.ttf") format("truetype");
  /* Safari, Android, iOS */ }
.smooth-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1337;
  cursor: pointer; }

.smooth-dialog {
  width: 700px;
  background: #fff;
  border-radius: 5px;
  cursor: default; }

.collapse {
  display: none; }

.collapse.in {
  display: block; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility; }

/*# sourceMappingURL=smoothalert.component.css.map */
