@import "../../../lib/mimas/variables";
@import "../../../lib/mimas/mixins";

$textarea-height: 200px;

.chat-room {
  width: calc(100vw - 600px);

  textarea {
    // Position related
    position: absolute;
    bottom: 0;

    // Dimensions
    width: 100%;
    height: $textarea-height;

    // Other
    border: 1px solid $stable;
    padding: 20px;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  .room-header {
    position: absolute;
    top: 0; left: 0;
    z-index: 1;

    width: 100%;
  }

  .messages {
    // Position
    position: absolute;
    top: 0;
    bottom: $textarea-height;

    // Flex box
    flex: 1 1 auto;

    // Dimensions
    width: 100%;

    // Other
    overflow-y: scroll;

    .message {
      margin: 20px 0;
      width: 100%;
      .message-text {
        max-width: 60%;
        padding: 10px 20px;
        border-radius: 3px;
        color: $light;
        font-size: 16px;
        white-space: pre-line;
      }
    }

    .not-author {
      background: $stable_dark;
    }

    .author {
      background: $blue;
    }

    .waiting {
      opacity: 0.5;
    }

    .reverse {
      order: 2;
    }
  }
}

.number-picker {

  input {
    line-height: 100px;
    padding: 0 30px;
    font-size: 3em;
    text-align: center;
    width: 100%;
  }

  .select-buttons {

  }
}

$bulletpointSize: 1.2em;

.rating-stars {
  text-align: center;
  padding: 0;
  margin: 20px 0px;

  &:hover {
    li {
      color: $primary;
    }
  }

  li {
    width: $bulletpointSize;
    height: $bulletpointSize;
    text-align: center;
    line-height: $bulletpointSize;
    display: inline-block;
    color: #aaa;
    position: relative;
    cursor: pointer;

    @include trans(color, 500ms);

    &:hover ~ li {
      color: #aaa;
    }

    &:hover {
      color: $primary;
    }
  }
}
